<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <!-- Simple Select -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
          <input class="mdl-textfield__input" type="text" id="lps_school" value="Select School" readonly tabIndex="-1">
          <label for="lps_school">
            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
          </label>
          <label for="lps_school" class="mdl-textfield__label">schools</label>
          <ul for="lps_school" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            <li class="mdl-menu__item" *ngFor="let school of schools" (click)="getMenuFor(school.name)">{{school.name}}</li>
          </ul>
        </div>
        <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons red md-24">account_circle</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
          <li class="mdl-menu__item" (click)="auth.login()" *ngIf="!auth.authenticated()">Login</li>
          <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" routerLink="/profile" *ngIf="auth.authenticated()">My Profile</li>
          <li class="mdl-menu__item" (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">LPS</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" *ngFor="let item of menuitems" href="item.route">{{item.name}}</a>
      <!-- <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a> -->
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Your content goes here -->
    </div>
  </main>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
